<%= form_with(model: restaurent) do |form| %>
  <% if restaurent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurent.errors.count, "error") %> prohibited this restaurent from being saved:</h2>

      <ul>
        <% restaurent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :websit, style: "display: block" %>
    <%= form.text_field :websit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
