<div id="<%= dom_id restaurent %>">
  <p>
    <strong>Name:</strong>
    <%= restaurent.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurent.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= restaurent.phone_number %>
  </p>

  <p>
    <strong>Websit:</strong>
    <%= restaurent.websit %>
  </p>

</div>
