<div class="container">
  <div class="row ">
    <div class="col ">
      <div id="<%= dom_id restaurant %>">
  
  <%= image_tag @restaurant.image_url%>
  
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= restaurant.phone %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= restaurant.website %>
  </p>
  

</div>
    
    </div>
  </div>
</div>






