<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%= link_to "Edit ", edit_review_path(@review) %> |
  <%= link_to "Back ", reviews_path %>

  <%= button_to "Destroy ", @review, method: :delete %>
</div>
